body {
    /*background-color: rgb(241, 171, 118);*/
    background-image: url(th.jpg);
    background-size: cover;
  }
  
  header {
    color: aquamarine;
    padding: 10px;
    text-align: center;
    font-size: 36px;
  }
  
  nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: rgb(203, 119, 9);
    padding: 5px 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #2616b2;
  }
  
  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    color: rgb(67, 10, 199);
    font-size: 20px ;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 1000px;
    padding: 20px;
    background-color: azure;
  }


  li {
    background-color: beige;

  }

  ul li:hover {
    color: #2de808;
    
  }
  
  input[type="range"] {
    width: 200px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  label {
    background-color: rgb(255, 255, 255);
  }
 
  
  img {
    width:220px;
    float: right;
    margin-right: 6cm;
    display: block;
    max-width: 100%;
  }
  
  p {
      background-color: #ffffff;
      margin: 20px;
      margin-right: 500px;
      font-weight: bold;
    }
  


